<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body results">
          <h5 class="card-title">Book Info</h5>
          {{!-- there was a floating p tag and I wanted to help clean up the code- REY --}}
          <p><strong>Title</strong>: {{book.title}}</p>
          <p><strong>Author</strong>: {{book.author}}</p>
          <p><strong>Summary:</strong> {{book.summary}}</p>
          <p><strong>Genre:</strong> {{book.genre}}</p>
          <p><strong>Rating:</strong> {{book.rating}}</p>

          </form>
          <div class="container">
            <span id="rateMe4" class="feedback"></span>
          </div>
          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>